.equipment-box {
    border: 1px solid #b5b5b5;
}

.equipment-box .in-border {
    position: absolute;
    top: -12px;
}

.equipment-box .equipment-title {
    background-color: #fff;
    padding: 0 1em;
    margin-right: 12em;
}

.equipment-button {
    border: 1px solid #b5b5b5;
}

.input:active, .input:focus, .is-active.input, .is-active.textarea, .is-focused.input, .is-focused.textarea, .select select.is-active, .select select.is-focused, .select select:active, .select select:focus, .textarea:active, .textarea:focus {
    border-color: var(--dark-mode-sidebar-color);
    box-shadow: 0 0 0 0.125em var(--dark-mode-body-color);
}

#changeEquipmentModal .modal-card{
    min-width: 60vw !important;
}
